@model BegeWrite.BegeWriteModel;
<article class="bw-article">
@foreach (var block in Model.Blocks)
{
	<div id="@block.Id" class="bw-block">
		@await Html.PartialAsync($"~/views/begeWrite/{block.Type}.cshtml", block)
	</div>
}
</article>