@model BegeWrite.BegeWriteBlock<BegeWrite.Converters.CheckListBlockData>
<ul class="bw-list">
	@foreach (var item in Model.Data.Items)
	{
		<li class="bw-list__item">@Html.Raw(item.Text) (@item.Checked)</li>
	}
</ul>
