.skriv-let {
    position: relative;
    background-color: white;
    max-width: 920px;
    margin: 0 auto;
}

.skriv-let.cdx-search-field__input {
    width: auto;
}

.ce-popover__container {
    width: 250px;
}

@media (min-width: 651px) {
    .ce-block__content {
        max-width: calc(100% - 120px) !important;
        margin: 0 60px;
    }
}

@media (min-width: 651px) {
    .ce-toolbar__content {
        width: 0px !important;
        margin: 0 50px;
    }
}

.cdx-block {
    max-width: 100% !important;
}

@media (min-width: 651px) {
    .codex-editor--narrow .ce-toolbox .ce-popover {
        left: 0;
        right: 0;
    }
}

@media (min-width: 651px) {
    .codex-editor--narrow .ce-settings .ce-popover {
        right: 0;
        left: 0;
    }
}

.ce-popover {
    width: auto !important;
}

.ce-popover--inline .ce-popover--nested .ce-popover__container {
    width: 250px;
}

    .skriv-let-data {
        margin: 0 auto;
        max-width: 800px;
    }

.cdx-label {
    font-weight: 700;
}

.ce-paragraph,
.cdx-list__item,
.cdx-quote__text,
.cdx-checklist__item-text,
.embed-tool__caption {
    font-size: 1.0675rem;
    line-height: 1.5;
}

/* Image */
.simple-image {
    padding: 20px 0;
}

.simple-image img {
    scroll-margin-top: 20px;
    cursor: pointer;
}

.simple-image input,
.simple-image [contenteditable] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-size: 1.125rem;
    height: auto;
}

.simple-image input {
    margin-bottom: 7px;
}

.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

.simple-image.withBorder img {
    border: 1px solid #e8e8eb;
}

.simple-image.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.simple-image.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}

/* Fullscreen */

.skriv-let__fullscreen-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #1d202b;
    border: none;
    appearance: none;
    cursor: pointer;
    z-index: 100;
    border-radius: 7px;
}

@media (max-width: 650px) {
    .skriv-let__fullscreen-button {
        background-color: #fff;
        border: 1px solid #E8E8EB;
    }
}

.skriv-let__fullscreen-button:hover {
    background-color: #eff2f5;
}

.skriv-let__container:fullscreen {
    background-color: white;
    color: #242424;
    line-height: 1.5;
    padding: 20px;
    height: 100dvh;
    overflow-y: scroll;
}

.skriv-let__container:fullscreen .codex-editor {
    max-width: 1080px;
    margin: 0 auto;
}

/* Hide elements that won't work in fullscreen */
.skriv-let__container:fullscreen .skriv-let__add-image-button,
.skriv-let__container:fullscreen .ce-popover-item[data-item-name="image"],
.skriv-let__container:fullscreen .ce-popover-item-html[data-item-name="link"] {
    display: none;
}

.skriv-let__container:fullscreen .ce-paragraph,
.skriv-let__container:fullscreen .cdx-list__item,
.skriv-let__container:fullscreen .cdx-quote__text,
.skriv-let__container:fullscreen .cdx-checklist__item-text,
.skriv-let__container:fullscreen .embed-tool__caption {
    font-size: 1.25rem;
}
