.skriv-let {
    background-color: white;
    max-width: 920px;
    margin: 0 auto;
}

.skriv-let.cdx-search-field__input {
    width: auto;
}

.ce-popover__container {
    width: 250px;
}

@media (min-width: 651px) {
    .ce-block__content {
        max-width: calc(100% - 120px) !important;
        margin: 0 60px;
    }
}

@media (min-width: 651px) {
    .ce-toolbar__content {
        width: 0px !important;
        margin: 0 50px;
    }
}

.cdx-block {
    max-width: 100% !important;
}

@media (min-width: 651px) {
    .codex-editor--narrow .ce-toolbox .ce-popover {
        left: 0;
        right: 0;
    }
}

@media (min-width: 651px) {
    .codex-editor--narrow .ce-settings .ce-popover {
        right: 0;
        left: 0;
    }
}

.ce-popover {
    width: auto !important;
}

.ce-popover--inline .ce-popover--nested .ce-popover__container {
    width: 250px;
}

    .skriv-let-data {
        margin: 0 auto;
        max-width: 800px;
    }

.cdx-label {
    font-weight: 700;
}

/* Image */
.simple-image {
    padding: 20px 0;
}

.simple-image img {
    scroll-margin-top: 20px;
}

.simple-image input,
.simple-image [contenteditable] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #e4e4e4;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    height: auto;
}

.simple-image input {
    margin-bottom: 7px;
}

.simple-image img {
    max-width: 100%;
    margin-bottom: 15px;
}

.simple-image.withBorder img {
    border: 1px solid #e8e8eb;
}

.simple-image.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.simple-image.withBackground img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}
