@model BegeWrite.BegeWriteModel;

@* Base Styles *@
@* These styles are the base styles for the article. They can be overridden by the user. *@
@* TODO: Move to a seperate file *@

<style>
	.bw-article {
        margin: 0 auto;
        max-width: var(--bw-article-max-width, 800px);
		padding: 1.25rem;
		font-family: var(--bw-base-font-family, Georgia, 'Times New Roman', Times, serif);
        line-height: 1.5;
		font-size: 1.25rem;
		color: var(--bw-base-color, #242424);
    }

    .bw-article a {
        color: var(--bw-link-color, #006fc6);
        text-decoration: underline;
    }

    .bw-article a:hover,
    .bw-article a:focus {
        color: var(--bw-link-color-hover, #5c5367);
        text-decoration: underline;
    }

	.bw-heading {
		font-family: var(--bw-heading-font-family, "Helvetica Neue", Helvetica, Arial, sans-serif);
		font-weight: var(--bw-heading-font-weight, bold);
		margin: 0 0 1.25rem 0;
	}

	.bw-image {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 0 1.25rem 0;
	}

	.bw-quote {
		box-shadow: inset 3px 0 0 0 var(--bw-quote-border-color,#242424);
		font-family: var(--bw-quote-font-family, Georgia, 'Times New Roman', Times, serif);
		font-style: var(--bw-quote-font-style, italic);
		margin: 0 0 1.25rem 2.5rem;
		padding-left: 1.25rem;
	}

	.bw-text {
		margin: 0 0 1.25rem 0;
	}


	.bw-list {
		margin: 0 0 1.25rem 0;
	}

	.bw-list__item {
		margin: 0 0 0.625rem 0;
	}

	.bw-list__item:last-child {
		margin: 0;
	}

	.bw-code {
		display: block;
		background-color: var(--bw-code-background-color, #f1f1f1);
		border-left: 3px solid var(--bw-code-border-color, #242424);
		white-space: pre-wrap;
		page-break-inside: avoid;
		font-family: var(--bw-code-font-family, ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace);
		font-size: 1rem;
		line-height: 1.5;
		max-width: 100%;
		overflow: auto;
		padding: 1rem 1.5rem;
		word-wrap: break-word;
		tab-width: 4;
	}

	.bw-check {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 20px;
		height: 20px;
		margin: -2px 0 0 0;
		box-sizing: border-box;
		border-radius: 5px;
		border: 1px solid var(--bw-check-border-color, #C9C9C9);
	}

	.bw-check__icon {
		height: 20px;
		width: 20px;
		position: absolute;
		left: -1px;
		top: -1px;
		max-height: 20px;
	}

	.bw-check__text--checked {
		text-decoration: line-through;
	}

</style>

<article class="bw-article">
@foreach (var block in Model.Blocks)
{
	<div id="@block.Id" class="bw-block">
		@await Html.PartialAsync($"~/views/partials/begeWrite/{block.Type}.cshtml", block)
	</div>
}
</article>
