@model BegeWrite.BegeWriteModel;
<article>
@foreach (var block in Model.Blocks)
{
	<div id="@block.Id">
		@await Html.PartialAsync($"~/views/partials/begeWrite/{block.Type}.cshtml", block)
	</div>
}
</article>
